@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --color1: #3C5973;
    --color2: #BDD9F2;
    --color3: #272E33;
    --color4: #C8BCAA;

   
}

body{
    background-color: var(--color1);
    height: 100vh;
    width: 100vw;
    position: relative;
}

main{
    background-color: white;
    width: 350px;
    height: 600px;
   
    border-radius: 20px;
    overflow: hidden;
box-shadow: 0px 0px 6px 2px #00000054;
    position: absolute;
    top: 50%;
    left: 50%;

    
    transition: width 0.4s , height 0.4s; 
    transition-timing-function: ease;   
    transform: translate(-50%,-50%);
}

div#image{
    display: block;
    background: var(--color1) url(../Imagens/pexels-pixabay-51944.jpg);
    height: 200px;
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.468);

}

div#form{
    display: block;
    padding: 10px;
}
div#form > h1{
    text-align: center;
}
div#form > p{
    text-indent: 10px;
    margin-top: 10px;
    font-size: 0.8em;
}

div.info {
    display: block;
    background-color: var(--color4);
    height: 40px;
    margin: 5px 0px;
    border-radius: 5px;
}
div.info > label{
    display: none;
}
div.info span {
    padding: 4px;
    font-size: 2em;
}
div.info > input {
    background-color: var(--color1);
    width: calc(100% - 60px);
    height: 40px;
    margin-left: 15px;
    border: 2px solid var(--color4);
    border-radius: 7px;
    text-align: center;
    color: white;
    transform: translateY(-12px);
    
}
div.info > input:focus{
    outline: none;
}
form > input[type=submit] {
    display: block;
    width: 90%;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    border: none;
    background-color: var(--color3);
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

form > input[type=submit]:hover{
    background-color: var(--color1);
}

form > a{
    display: block;
    border: 2px solid var(--color3);
    border-radius: 10px;
    width: 90%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: var(--color3);
    padding: 5px;
    margin-top: 5px;
}
form > a:hover{
    background-color: var(--color2);
    border-color: var(--color2);
}

form #icon{
    font-size: 0.8em;
}